body {
  font-family: 'NHaasGrotesk-Regular', sans-serif;
  font-weight: 100;
  font-size: 16px;
  line-height: 1.5;
  color: #1a1a1a;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
}

h2 {
  font-family: 'NHaasGrotesk-Light', sans-serif;
  font-size: 1.5em;
}

h3 {
  font-weight: 200;
  border-bottom: 1px solid #1a1a1a;
  padding-bottom: 15px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-left: 50px;
  margin-right: 50px;
  overflow: hidden;
  display:flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 3s;
  animation-delay: .4s;
  animation-fill-mode: forwards;
  z-index: 3;
}

header h1 img {
  width:230px;
}

header nav {
  padding-bottom: 5px;
}

header nav a {
  font-size: 1em;
  color: #1a1a1a;
  margin-left: 12px;
  text-decoration: none;
}

a {
-webkit-tap-highlight-color: rgba(0,0,0,0);
-webkit-tap-highlight-color: transparent; /* For some Androids */
}

.container {
    position: relative;
}

.text-block {
    font-size: 3em;
    line-height: 1;
    color: #ffffff;
    opacity: 0;
    position: absolute;
    top: 200px;
    padding-left: 50px;
}

.description {
  display: flex;
  justify-content: space-between;
  margin: 100px 148px 100px 50px;
}

.info {
  max-width: 780px;
}

.book {
  text-decoration: underline;
}

.procedures,
.testimonials {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 100px 0px 100px 50px;
}

.first-procedure,
.second-procedure,
.third-procedure,
.fourth-procedure,
.fifth-procedure {
  width: 420px;
  margin-right: 50px;
}

footer {
  margin: 100px 50px 0px 50px;
  border-top: solid 1px #1a1a1a;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  background-color: rgba(255, 255, 255, .8);
  width: 100%;
  position: fixed;
  right: 0;
  height: 100%;
  transform: translateX(100%);
  z-index: 2;
  transition: transform 0.5s ease;
}

.menu nav {
  position: relative;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.menu nav a {
  font-size: 1em;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #1a1a1a;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.menu-toggle {
  top: 44px;
  position: absolute;
  right: 0;
  z-index: 3;
  opacity: 0;
}

.menu-toggle: hover {
  color: : #ffffff;
}

.open {
  transform: translateX(0);
}

.map {
  margin: 150px 0px 100px 0px;
  width: 100%;
}

iframe {
  width: 100vw;
}

.animation {
  animation-name: fadeIn2;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  z-index: 2
}

.list {
  margin-bottom: 10px;
}

.list li {
  display: block;
}

.list {
  color: #1a1a1a;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 50px;
}

.info-list {
  padding-left: 0;
  margin-right: 40px;
  width: 265px;
}

.info-list li {
  font-weight: 400;
  line-height: 1.7;
}

/**Tablet Version**/
@media (max-width: 800px) {

  header {
    margin-left: 25px;
    margin-right: 25px;
  }

  header nav {
    padding-bottom: 5.5px;
}

  header h1 img {
    width:225px;
  }

  .container img {
    height: 525px;
    object-fit: cover;
  }

  .container {
    margin-top: 15px;
  }

  .text-block {
    font-size: 2em;
    padding-left: 25px;
    padding-right: 32px;
    top: 100px;
  }

  .description {
    margin: 50px 25px 85px 25px;
    display: block;
  }

  .procedures,
  .testimonials {
    margin: 33.5px 0px 50px 25px;
  }

  .first-procedure,
  .second-procedure,
  .third-procedure,
  .fourth-procedure,
  .fifth-procedure {
    width: 45.7%;
    margin-right: 30px;
  }

  footer {
    margin-left: 25px;
    margin-right: 25px;
  }
}

/**Iphone**/
@media (max-width: 465.5px) {

  body {
    font-size: 16px;
    line-height: 1.8;
  }

  header {
    margin-left: 10px;
    margin-right: 10px;
  }

  h2 {
  font-size: 3em;
  }

  h3 {
    font-size: 16px;

  }

  header nav {
    opacity: 0;
  }

  .menu nav a {
    font-size: 1.3em;
  }

  .menu-toggle {
    position: fixed;
    top: 35px;
    right: 10px;
    opacity: 1;
  }

  section img {
    width: 100%;
  }

  .text-block {
    font-size: 1em;
    padding-left: 10px;
    top: 90px;
  }

  .two {
    top: 65px;
  }

  .description {
    display: inline;
    margin: 0;
    padding: 0;
  }

  .info,
  .book {
    margin: 50px 10px 50px 10px;
    width: 96%;
  }

  .procedures,
  .testimonials {
    margin-left: 10px;
  }

  .first-procedure,
  .second-procedure,
  .third-procedure,
  .fourth-procedure,
  .fifth-procedure {
    width: 100%;
    margin-right: 10px;
  }

  footer {
    margin-left: 10px;
    display: block;
  }

  .first-hero {
    padding-top: 75px;
  }

  .list {
    margin: 50px 10px;
  }

  .info-list {
    margin-right: 0px;
    width: 100%;
}

.menu-open {
    z-index: 4;
}

}


@keyframes fadeIn2 {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  50% {
    transform: translate(0);
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  50% {
    transform: translate(0);
  }
  100% {
    opacity: 1;
  }
}
